<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    
    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>
    
    <!-- 配置RabbitMQ连接工厂 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               virtual-host="${rabbitmq.virtual-host}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"/>
    
    <!-- 定义消费者 -->
    <bean id="defaultListener" class="com.rabbitmq.listener.DefaultListener"/>
    <bean id="fanoutListener1" class="com.rabbitmq.listener.FanoutListener1"/>
    <bean id="fanoutListener2" class="com.rabbitmq.listener.FanoutListener2"/>
    <bean id="topicListener1" class="com.rabbitmq.listener.TopicListener1"/>
    <bean id="topicListener2" class="com.rabbitmq.listener.TopicListener2"/>
    
    <rabbit:listener-container connection-factory="connectionFactory" auto-declare="true">
        <rabbit:listener ref="defaultListener" queue-names="spring_default_queue"/>
        <rabbit:listener ref="fanoutListener1" queue-names="spring_fanout_queue_1"/>
        <rabbit:listener ref="fanoutListener2" queue-names="spring_fanout_queue_2"/>
        <rabbit:listener ref="topicListener1" queue-names="spring_topic_queue_1"/>
        <rabbit:listener ref="topicListener2" queue-names="spring_topic_queue_2"/>
    </rabbit:listener-container>
</beans>